$font-family: 'Special Elite', cursive;
$background-colour: #575C5F;
$text-color:#eae0d5;
$buttoncolor:#8a6b46;
//variables not importing correctly. Check on this later. only font family is importing. Maybe import order issue.