.gameSettings{
    .gameSettings__screenDisplay{
        font-size:3rem;
    }
    .gameSettings__inputBar{
        font-size:3rem;
        display: none;
    }
    .scoreBoard{
        font-size: 2rem;

    }
}
