* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Special Elite", cursive;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0A0908;
  height: 100vh;
  width: auto;
  color: #BCC3CB;
}
.container .introdcution .screenIntro {
  border: 2px solid #8a6b46;
  padding: 2rem;
  margin: 2rem;
}
.container .introdcution .screenIntro .screenIntro__header {
  font-size: 2rem;
  margin: 1rem;
}
.container .introdcution .screenIntro .screenIntro__body {
  font-size: 1rem;
}
.container .introdcution .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.container .introdcution .buttons .buttons__random {
  background-color: #c6ac8f;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
}
.container .introdcution .buttons .buttons__random:hover {
  border: 2px solid #ffffff;
  cursor: pointer;
  animation: bouncy 5s infinite linear;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.gameSettings .gameSettings__screenDisplay {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
}
.gameSettings #input {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  display: none;
}
.gameSettings .scoreBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5rem;
  padding: 1rem;
}
.gameSettings .message {
  display: flex;
  justify-content: center;
}

.endScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.endScreen .endScreen__header {
  font-size: 2rem;
}
.endScreen .endScreen__message {
  font-size: 1.5rem;
}
.endScreen .endScreen__restartButton {
  display: none;
  width: 20%;
  background-color: #c6ac8f;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
}
.endScreen .endScreen__restartButton:hover {
  border: 2px solid #ffffff;
  cursor: pointer;
  animation: bouncy 5s infinite linear;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

.instructions {
  padding: 1rem;
  width: 80%;
}
.instructions .instructions__header {
  font-size: 1.5rem;
}
.instructions .instructions__body {
  font-size: 1rem;
  padding: 1rem;
}
.instructions .instructions__body li {
  list-style: inside;
}

@media screen and (min-width: 768px) {
  .container .introdcution .screenIntro .screenIntro__header {
    font-size: 3rem;
  }
  .container .introdcution .screenIntro .screenIntro__body {
    font-size: 2rem;
  }
  .container .introdcution .buttons .buttons__random {
    padding: 2rem;
    margin: 2rem;
    font-size: 1.5rem;
  }

  .gameSettings .gameSettings__screenDisplay {
    font-size: 3rem;
  }
  .gameSettings .gameSettings__inputBar {
    font-size: 2rem;
  }
  .gameSettings .scoreBoard {
    font-size: 2rem;
  }
  .gameSettings .message {
    font-size: 2rem;
  }

  .endScreen .endScreen__header {
    font-size: 3rem;
  }
  .endScreen .endScreen__message {
    font-size: 2rem;
  }

  .instructions {
    width: 75%;
  }
  .instructions .instructions__header {
    font-size: 2rem;
  }
  .instructions .instructions__body {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .container .introdcution .screenIntro .screenIntro__header {
    font-size: 3rem;
  }
  .container .introdcution .screenIntro .screenIntro__body {
    font-size: 2rem;
  }
  .container .introdcution .buttons .buttons__random {
    padding: 2rem;
    margin: 2rem;
    font-size: 1.5rem;
  }

  .gameSettings .gameSettings__screenDisplay {
    font-size: 3rem;
  }
  .gameSettings .gameSettings__inputBar {
    font-size: 2rem;
  }
  .gameSettings .scoreBoard {
    font-size: 2rem;
  }
  .gameSettings .message {
    font-size: 2rem;
  }

  .endScreen .endScreen__header {
    font-size: 4rem;
  }
  .endScreen .endScreen__message {
    font-size: 3rem;
  }

  .instructions {
    width: 75%;
  }
  .instructions .instructions__header {
    font-size: 2rem;
  }
  .instructions .instructions__body {
    font-size: 1.5rem;
  }
}