.endScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.endScreen .endScreen__header {
  font-size: 2rem;
}
.endScreen .endScreen__message {
  font-size: 1.5rem;
}
.endScreen .endScreen__restartButton {
  display: none;
  width: 20%;
  background-color: #c6ac8f;
  border-radius: 20px;
  padding: 1rem;
  margin: 1rem;
}
.endScreen .endScreen__restartButton:hover {
  border: 2px solid #ffffff;
  cursor: pointer;
  animation: bouncy 5s infinite linear;
  position: relative;
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}