@media screen and (min-width: 768px) {
  .container .introdcution .screenIntro .screenIntro__header {
    font-size: 3rem;
  }
  .container .introdcution .screenIntro .screenIntro__body {
    font-size: 2rem;
  }
  .container .introdcution .buttons .buttons__random {
    padding: 2rem;
    margin: 2rem;
    font-size: 1.5rem;
  }

  .gameSettings .gameSettings__screenDisplay {
    font-size: 3rem;
  }
  .gameSettings .gameSettings__inputBar {
    font-size: 2rem;
  }
  .gameSettings .scoreBoard {
    font-size: 2rem;
  }
  .gameSettings .message {
    font-size: 2rem;
  }

  .endScreen .endScreen__header {
    font-size: 3rem;
  }
  .endScreen .endScreen__message {
    font-size: 2rem;
  }

  .instructions {
    width: 75%;
  }
  .instructions .instructions__header {
    font-size: 2rem;
  }
  .instructions .instructions__body {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .container .introdcution .screenIntro .screenIntro__header {
    font-size: 3rem;
  }
  .container .introdcution .screenIntro .screenIntro__body {
    font-size: 2rem;
  }
  .container .introdcution .buttons .buttons__random {
    padding: 2rem;
    margin: 2rem;
    font-size: 1.5rem;
  }

  .gameSettings .gameSettings__screenDisplay {
    font-size: 3rem;
  }
  .gameSettings .gameSettings__inputBar {
    font-size: 2rem;
  }
  .gameSettings .scoreBoard {
    font-size: 2rem;
  }
  .gameSettings .message {
    font-size: 2rem;
  }

  .endScreen .endScreen__header {
    font-size: 4rem;
  }
  .endScreen .endScreen__message {
    font-size: 3rem;
  }

  .instructions {
    width: 75%;
  }
  .instructions .instructions__header {
    font-size: 2rem;
  }
  .instructions .instructions__body {
    font-size: 1.5rem;
  }
}